@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}

.card-container {
    border: 1px solid black; 
}

.card__picture {
    border: 1px solid black;
}

.card__content {
    border: 1px solid black;
}

.card__perfil {
    border: 1px solid black;
}

.attribution {
    font-size: .8462rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}